article {
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  background: #eee;
  box-shadow: 0 5px 5px rgba(black, 0.2);
  font: 300 100%/1.5 system-ui;
  border-radius: 6px;
  h1 {
    margin: 0 0 1rem 0;
  }
  > :last-child {
    margin-block-end: 0;
  }
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
